# Lots of junk goes in here.
/caches/
/backups/

# Local-only files.
/link-file/.gitconfig_maintenance

# Don't commit Vim plugins, vim-plug will install them.
/link-dir/.vim/plugged

# Don't commit tmux plugins, tpm will install them.
/link-dir/.tmux/plugins

bin/cloud_sql_proxy
link-dir/.config/github-copilot/
.aider*
session-*.md
link-dir/.obsidian-wiki/
