0
your-password
your-username

# Cisco vpn credentials can be fired from command line. copy this file
# and use it like this:
# /opt/cisco/anyconnect/bin/vpn connect your-vpn.server.here -s <.credentials
#
# tip from https://apple.stackexchange.com/a/260928/3403
